<!DOCTYPE html>
<html>
<head>
    <title th:text="${title}"></title>
</head>
<body>
<div >
    <div>
        <div>
            <p><span class="code" th:text="${status}"></span>非常抱歉，页面出现错误</p>
            <a href="/" class="btn-back common-button">返回首页</a>
            <div >
                <div th:text="${#dates.format(timestamp,'yyyy-MM-dd HH:mm:ss')}"></div>
                <div th:text="${messages}"></div>
                <div th:text="${error}"></div>
            </div>
        </div>
    </div>
</div>
</body>